
---- Q1
select Followedusername from Following
group by FollowedUserName
having count(FollowedUserName) = ( select max(table1.totalfollowers) from (
	select top(1) count(FollowedUserName) as totalfollowers from Following
	group by FollowedUserName order by count(FollowerUserName) desc
	) as table1)
---- Q2
select Followedusername from Following
group by FollowedUserName
having count(FollowedUserName) = ( select max(table1.totalfollowers) from (
	select top(1) count(FollowedUserName) as totalfollowers from Following
	group by FollowedUserName having count(FollowedUserName) not in (	
	select top(1) count(FollowedUserName) as totalfollowers from Following
		group by FollowedUserName order by count(FollowerUserName) desc
		) order by count(FollowerUserName) desc
	) as table1)
---- Q3
select username from Users
except
select username from Tweets
---- Q4
select Hashtag, username, count(hashtag) as totaltimesused from Hashtags left join Tweets
on charindex(hashtag,text)>0 group by Hashtag,UserName
---- Q5
select username from Users
except
select username from Hashtags left join Tweets
on charindex(hashtag,text)>0 group by Hashtag,UserName
having Hashtag = '#Census'
---- Q6
----set operation
select username from Users
except
select FollowedUserName from Following
group by FollowedUserName
---- Q7
----exist operation
select UserName from Users as table1
where exists (	select username from Users where table1.username = username and UserName not in (
	select FollowedUserName from Following
	group by FollowedUserName))
---- Q8
----most common interest
select description from Interests
where InterestID in (
	select InterestID from UserInterests
	group by InterestID having count(InterestID) = 
	(select top(1) count(InterestID) from UserInterests
		group by InterestID order by count(InterestID) desc))
----least common interest
select description from Interests
where InterestID in (
	select InterestID from UserInterests
	group by InterestID having count(InterestID) = 
	(select top(1) count(InterestID) from UserInterests
		group by InterestID order by count(InterestID) asc))
---- Q9
select table_1.country, count (table_1.country) as usertweets from ( select country from tweets left join users
	on users.UserName = tweets.UserName ) as table_1
group by table_1.Country order by table_1.Country
---- Q10
select username from tweets
group by username having count(username) > ( select avg(table1.tweets) from (
	select username, count(username) as 'tweets' from tweets
		group by username) as table1)
---- Q11
select followedusername from following left join users on FollowerUserName = UserName
where country='Pakistan' group by FollowedUserName having count(FollowedUserName)>1
---- Q12
----interest with most users
select InterestID, description from Interests
where InterestID in (
	select InterestID from UserInterests
	group by InterestID having count(InterestID) = 
	(select top(1) count(InterestID) from UserInterests
		group by InterestID order by count(InterestID) desc))
