USE [master]
GO
/****** Object:  Database [Database_Project_Lab]    Script Date: 4/25/2021 8:15:18 AM ******/
CREATE DATABASE [Database_Project_Lab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database_Project_Lab', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Database_Project_Lab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Database_Project_Lab_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Database_Project_Lab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Database_Project_Lab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Database_Project_Lab]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Account_ID] [int] NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[City] [varchar](32) NOT NULL,
	[Address] [varchar](80) NOT NULL,
	[Phone No] [int] NULL,
	[Email] [varchar](32) NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Active_Bonus]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Active_Bonus](
	[Account_ID] [int] NOT NULL,
	[Bonus_Type] [varchar](50) NOT NULL,
	[Bonus_Account] [int] NOT NULL,
	[Total_Items] [int] NULL,
	[Starting_Date] [date] NOT NULL,
	[Expiry_Date] [date] NOT NULL,
 CONSTRAINT [PK_Active_Bonus] PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultant_Pending_Funds]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultant_Pending_Funds](
	[Consultant_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Buyer_ID] [int] NOT NULL,
	[Seller_ID] [int] NOT NULL,
	[Pending_Amount] [int] NOT NULL,
	[Purchase_Date] [date] NOT NULL,
	[Status] [varchar](32) NOT NULL,
 CONSTRAINT [PK_Consultant_Pending_Fund_Records] PRIMARY KEY CLUSTERED 
(
	[Consultant_ID] ASC,
	[Product_ID] ASC,
	[Buyer_ID] ASC,
	[Seller_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultant_Profile]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultant_Profile](
	[Consultant_ID] [int] NOT NULL,
	[Consultant_Ratings] [float] NOT NULL,
	[Profile_Picture] [image] NULL,
	[Consultant_Intro] [varchar](100) NULL,
	[Balance] [int] NULL,
 CONSTRAINT [PK_Consultant_Profile] PRIMARY KEY CLUSTERED 
(
	[Consultant_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultation_Records]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultation_Records](
	[Request_No] [int] NOT NULL,
	[Consulter_ID] [int] NOT NULL,
	[Consultant_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Recommended_Product_ID] [int] NULL,
	[Consultation_Ratings] [float] NOT NULL,
	[Consulter_Experience] [int] NOT NULL,
	[Sending_Date] [date] NOT NULL,
 CONSTRAINT [PK_Consultation_Records] PRIMARY KEY CLUSTERED 
(
	[Request_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_Records]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Records](
	[Account_ID] [int] NOT NULL,
	[Log_Time] [time](0) NOT NULL,
	[Log_Location] [varchar](80) NOT NULL,
	[Log_Device] [varchar](80) NOT NULL,
	[Active_Duration] [time](0) NOT NULL,
 CONSTRAINT [PK_Log_Records] PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message_Records]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message_Records](
	[Sender_Account_ID] [int] NOT NULL,
	[Reciever_Account_ID] [int] NOT NULL,
	[Message] [varchar](1000) NOT NULL,
	[Send_Time] [time](0) NOT NULL,
	[Recieve_Time] [time](0) NOT NULL,
	[Attachment] [image] NULL,
	[Status] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Message_Records] PRIMARY KEY CLUSTERED 
(
	[Sender_Account_ID] ASC,
	[Reciever_Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Orders]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Orders](
	[Account_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Payment_Type] [varchar](50) NOT NULL,
	[Amount] [int] NULL,
	[Delievery_Method] [varchar](50) NOT NULL,
	[Destination] [varchar](80) NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Ratings]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Ratings](
	[Product_ID] [int] NOT NULL,
	[Account_ID] [int] NOT NULL,
	[Ratings] [float] NOT NULL,
	[Reviews] [varchar](100) NULL,
	[Response_Type] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Product_Ratings] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC,
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_ID] [int] NOT NULL,
	[Product_Name] [varchar](50) NOT NULL,
	[Product_Price] [float] NULL,
	[Product_Description] [varchar](100) NULL,
	[Product_Ratings] [float] NOT NULL,
	[Product_Seller_ID] [int] NOT NULL,
	[Shop Location] [varchar](32) NULL,
	[Product_Profile_Image] [image] NULL,
	[Demo_Image] [image] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Records]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Records](
	[Account_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Transaction_Type] [varchar](50) NOT NULL,
	[Amount] [int] NULL,
	[Product_Rating] [int] NOT NULL,
	[Customer_Rating] [int] NOT NULL,
 CONSTRAINT [PK_Purchase_Records] PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider_Products]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider_Products](
	[EntryNo] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Slider_ID] [int] NOT NULL,
	[Product_Slider_Img] [image] NULL,
 CONSTRAINT [PK_Slider_Products] PRIMARY KEY CLUSTERED 
(
	[EntryNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tracking_Records]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tracking_Records](
	[Product_ID] [int] NOT NULL,
	[Account_ID] [int] NOT NULL,
	[Starting_Point] [varchar](80) NULL,
	[Destination] [varchar](80) NULL,
	[Last_Known_Point] [varchar](80) NULL,
	[ETA] [time](0) NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_Tracking_Records] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC,
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Profile]    Script Date: 4/25/2021 8:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Profile](
	[Account_ID] [int] NOT NULL,
	[Account_Type] [varchar](20) NOT NULL,
	[Current_Balance] [int] NULL,
	[Profile_Image] [image] NULL,
	[Description] [varchar](100) NULL,
	[Total_Purchase] [int] NULL,
	[Account_Rating] [int] NOT NULL,
 CONSTRAINT [PK_User_Profile] PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Active_Bonus]  WITH CHECK ADD  CONSTRAINT [FK_Active_Bonus_Accounts] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Active_Bonus] CHECK CONSTRAINT [FK_Active_Bonus_Accounts]
GO
ALTER TABLE [dbo].[Consultant_Pending_Funds]  WITH CHECK ADD  CONSTRAINT [FK_Consultant_Pending_Funds_Accounts] FOREIGN KEY([Consultant_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Consultant_Pending_Funds] CHECK CONSTRAINT [FK_Consultant_Pending_Funds_Accounts]
GO
ALTER TABLE [dbo].[Consultant_Pending_Funds]  WITH CHECK ADD  CONSTRAINT [FK_Consultant_Pending_Funds_Accounts1] FOREIGN KEY([Buyer_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Consultant_Pending_Funds] CHECK CONSTRAINT [FK_Consultant_Pending_Funds_Accounts1]
GO
ALTER TABLE [dbo].[Consultant_Pending_Funds]  WITH CHECK ADD  CONSTRAINT [FK_Consultant_Pending_Funds_Accounts2] FOREIGN KEY([Seller_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Consultant_Pending_Funds] CHECK CONSTRAINT [FK_Consultant_Pending_Funds_Accounts2]
GO
ALTER TABLE [dbo].[Consultant_Pending_Funds]  WITH CHECK ADD  CONSTRAINT [FK_Consultant_Pending_Funds_Products] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
ALTER TABLE [dbo].[Consultant_Pending_Funds] CHECK CONSTRAINT [FK_Consultant_Pending_Funds_Products]
GO
ALTER TABLE [dbo].[Consultant_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Consultant_Profile_Accounts] FOREIGN KEY([Consultant_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Consultant_Profile] CHECK CONSTRAINT [FK_Consultant_Profile_Accounts]
GO
ALTER TABLE [dbo].[Consultation_Records]  WITH CHECK ADD  CONSTRAINT [FK_Consultation_Records_Accounts] FOREIGN KEY([Consulter_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Consultation_Records] CHECK CONSTRAINT [FK_Consultation_Records_Accounts]
GO
ALTER TABLE [dbo].[Consultation_Records]  WITH CHECK ADD  CONSTRAINT [FK_Consultation_Records_Accounts1] FOREIGN KEY([Consultant_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Consultation_Records] CHECK CONSTRAINT [FK_Consultation_Records_Accounts1]
GO
ALTER TABLE [dbo].[Consultation_Records]  WITH CHECK ADD  CONSTRAINT [FK_Consultation_Records_Products] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
ALTER TABLE [dbo].[Consultation_Records] CHECK CONSTRAINT [FK_Consultation_Records_Products]
GO
ALTER TABLE [dbo].[Log_Records]  WITH CHECK ADD  CONSTRAINT [FK_Log_Records_Accounts] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Log_Records] CHECK CONSTRAINT [FK_Log_Records_Accounts]
GO
ALTER TABLE [dbo].[Message_Records]  WITH CHECK ADD  CONSTRAINT [FK_Message_Records_Accounts] FOREIGN KEY([Sender_Account_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Message_Records] CHECK CONSTRAINT [FK_Message_Records_Accounts]
GO
ALTER TABLE [dbo].[Message_Records]  WITH CHECK ADD  CONSTRAINT [FK_Message_Records_Accounts1] FOREIGN KEY([Reciever_Account_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Message_Records] CHECK CONSTRAINT [FK_Message_Records_Accounts1]
GO
ALTER TABLE [dbo].[Product_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Product_Orders_Accounts] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Product_Orders] CHECK CONSTRAINT [FK_Product_Orders_Accounts]
GO
ALTER TABLE [dbo].[Product_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Product_Orders_Products] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
ALTER TABLE [dbo].[Product_Orders] CHECK CONSTRAINT [FK_Product_Orders_Products]
GO
ALTER TABLE [dbo].[Product_Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Product_Ratings_Accounts] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Product_Ratings] CHECK CONSTRAINT [FK_Product_Ratings_Accounts]
GO
ALTER TABLE [dbo].[Product_Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Product_Ratings_Products] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
ALTER TABLE [dbo].[Product_Ratings] CHECK CONSTRAINT [FK_Product_Ratings_Products]
GO
ALTER TABLE [dbo].[Purchase_Records]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Records_Accounts] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Purchase_Records] CHECK CONSTRAINT [FK_Purchase_Records_Accounts]
GO
ALTER TABLE [dbo].[Purchase_Records]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Records_Products] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
ALTER TABLE [dbo].[Purchase_Records] CHECK CONSTRAINT [FK_Purchase_Records_Products]
GO
ALTER TABLE [dbo].[Slider_Products]  WITH CHECK ADD  CONSTRAINT [FK_Slider_Products_Products] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
ALTER TABLE [dbo].[Slider_Products] CHECK CONSTRAINT [FK_Slider_Products_Products]
GO
ALTER TABLE [dbo].[Tracking_Records]  WITH CHECK ADD  CONSTRAINT [FK_Tracking_Records_Accounts] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Tracking_Records] CHECK CONSTRAINT [FK_Tracking_Records_Accounts]
GO
ALTER TABLE [dbo].[Tracking_Records]  WITH CHECK ADD  CONSTRAINT [FK_Tracking_Records_Products] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
ALTER TABLE [dbo].[Tracking_Records] CHECK CONSTRAINT [FK_Tracking_Records_Products]
GO
ALTER TABLE [dbo].[User_Profile]  WITH CHECK ADD  CONSTRAINT [FK_User_Profile_Accounts] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[User_Profile] CHECK CONSTRAINT [FK_User_Profile_Accounts]
GO
USE [master]
GO
